html{
  background-color: black;
}

@font-face {
  font-family: "Neutro";
  src: url("/fonts/Neutro-Bold.woff") format("woff");
}

/* body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: black;
  } */

  .text {
    position: absolute;
    pointer-events: none;
    font-size: 5vh;
    -webkit-text-stroke: 1.6px #fff;
    font-weight: 500;
    text-transform: uppercase;
    /* color: #161616; */
    z-index: 9999999;
    font-family: "Neutro";
    font-weight: 800;
}

.text span {
    color: #fff;
    font-family: "Neutro";
    font-weight: 800;
}

  #canvas-container {
    /* background: red; */
    position: relative; /* fixed or static */
    margin-left: auto;
    margin-right: auto;
    /* top: auto;
    bottom: auto; */
    width: 50vw;
    height: 50vh;
    top: 12vh;
    z-index: 200;
  }
  body{
    background-color: black;
    color: black;
  }

  #particles{
    position: relative;
    z-index: 0;
  }

  #text{
    position: relative;
    left: 15vw;
    z-index: 0;
  }

  @media screen and (max-width: 896px){

    #canvas-container{
      position: relative;
      width: 80vw;
      height: 80vh;
      top: 2vh;
     }
    
  }

  #text{
    position: relative;
    left: 15vw;
    z-index: 0;
    bottom: 22vh;
    display: block;
  }
  
  #text-1{
    display: inline-block;
    font-size: 15vh;
    color: white;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-family: "Neutro";
    font-weight: 800;
    font-size: 90px;
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


  html, 
  html *, 
  body, 
  body * {
    cursor: none;
  }
  .cursor-dot,
  .cursor-dot-outline {
    mix-blend-mode: normal;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
  .cursor-dot {
    z-index:99999999;
    width: 4.0px;
    height: 4.0px;
    background-color: rgba(255, 255, 255, 0.72);
    border: solid;
    border-radius: 50%;
    border-width: 0px;
    border-color: #ffffff;
  }
  
  .cursor-dot-outline {
    z-index:99999998;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.00);
    border: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: #ffffff;
  }
 